.idea/
.vscode/

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.venv/
venv/
.conda/

llm_access/api_key_qwen.txt
llm_access/api_key_openai.txt
.env
.env.*

*.log
logs/

*.pth
*.png
*.txt
*.pt
*.bin
*.ckpt
*.safetensors
*.onnx
*.h5
*.pickle
*.joblib

output_img/
cache/
output_store/
saves/
train_logs/
training/saves/
training/train_logs/
tmp_imgs/
tmp_img/

gened_questions/*.csv
config/*.yaml

temp.png
temp.html
.temp
*.tmp