# Node/Vue
Controller/node_modules/
Controller/dist/
Controller/dist-ssr/
Controller/*.local
Controller/.vscode/*
!Controller/.vscode/extensions.json

# Environment
.env
.env.*
!.env.example

# NPM/Yarn/PNPM
Controller/npm-debug.log*
Controller/yarn-debug.log*
Controller/yarn-error.log*
Controller/pnpm-debug.log*

# Python (just in case)
__pycache__/
*.pyc
venv/
